.cls-1,
.cls-2 {
    stroke-miterlimit: 6;
}

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
    fill: none;
}

.cls-1,
.cls-2,
.cls-4,
.cls-5 {
    stroke-linecap: round;
    stroke-width: 14px;
}

.cls-1,
.cls-3,
.cls-4 {
    stroke: #a4b9cb;
}

.cls-2,
.cls-5 {
    stroke: #fff;
}

.cls-3,
.cls-4,
.cls-5 {
    stroke-miterlimit: 10;
}

.cls-6 {
    fill: #56c3eb;
}

.cls-7 {
    fill: #3db7e4;
}

.cls-8 {
    fill: #1c62a3;
}

.cls-9 {
    fill: #fff;
}

.cls-10 {
    fill: #336bb3;
}

.cls-11 {
    fill: #5bc1d2;
}

.cls-12 {
    fill: #4189c8;
}

.cls-13 {
    fill: #91d1db;
}